/build
/rnlib/com/facebook/react/hermes-engine/0.71.2/hermes-engine-0.71.2-release.aar
/rnlib/com/facebook/react/react-native/0.71.2/react-native-0.71.2-release.aar
/libs/hermes-engine-0.71.2-release.aar
/libs/react-native-0.71.2-release.aar
